*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'

}

body {
    background-color: seashell;
}

.currentContainer{
    border: solid; 
    border-width: medium;
    border-color: teal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

.cardContainer {
    display: flex;
    align-items: center;
}

.card1{
    border: solid; 
    border-width: medium;
    border-color: maroon;
    border-radius: 10px;
    background-color: lavenderblush;
    width: 20%;

}

.card2{
    border: solid; 
    border-width: medium;
    border-color: maroon;
    border-radius: 10px;
    background-color: lavenderblush;
    width: 20%;

}

.card3{
    border: solid; 
    border-width: medium;
    border-color: maroon;
    border-radius: 10px;
    background-color: lavenderblush;
    width: 20%;

}

.card4{
    border: solid; 
    border-width: medium;
    border-color: maroon;
    border-radius: 10px;
    background-color: lavenderblush;
    width: 20%;

}

.card5{
    border: solid; 
    border-width: medium;
    border-color: maroon;
    border-radius: 10px;
    background-color: lavenderblush;
    width: 20%;

}